.bg-barra{
    background-color: #242424;
    filter:alpha(opacity=80);
    -moz-opacity:.70;opacity:.70;
}


.btn-custom{
    background-color: transparent;
    border: none;
    color: white;
}

.btn-custom:hover{
    color: #dc3545;
    font-size: 1.8rem;
    transition: ease-out 0.2s;
}

.controlls{
    z-index: 10;
    right: 1%;
    transform: translateY(-50%);
    background-color: #242424;
    filter:alpha(opacity=80);
    -moz-opacity:.70;opacity:.70;
    border-radius: 2rem;
}


.active-btn{
    color: #dc3545;
    transition: all .4s ease-in-out;
}